.core-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .team-members {
    display: flex;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .rounded-image {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    overflow: hidden;
    border-radius: 50%;
  }
  
  .rounded-full {
    width: 150%;
    height: 150%;
    object-fit: cover;
  }