html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}

.page-container {
  position: relative;
  min-height: 100vh;
  /* Make the main page scrollable */
}

.volunteering-container {
  position: relative;
  top: 450px;
  left: 50%;
  width: 600px;
  padding: 50px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(14, 13, 13, 0.6);
  border-radius: 10px;
  overflow-y: auto;
}

.volunteering-container h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.volunteering-container .input-group {
  position: relative;
}

.volunteering-container .input-group input,
.volunteering-container .input-group select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px; /* Reduce the margin */
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* Style the gender dropdown */
.volunteering-container .input-group select {
  background: rgba(69, 64, 64, 0.5); /* Set background color */
}

.volunteering-container .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.volunteering-container .input-group input:focus ~ label,
.volunteering-container .input-group input:valid ~ label {
  top: -20px;
  left: 0;
  color: #e4f4f5;
  font-size: 12px;
}

.volunteering-container form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #d7f1f2;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.volunteering-container a:hover {
  background: #4e95c1;
  color: #d5ddea;
  border-radius: 5px;
}

.volunteering-container a span {
  position: absolute;
  display: block;
}
